 body { background: white; color: black}
 header {
    z-index: 10;
    height: 40px;
    position: absolute;
    top: 100px;
    background-color: #333;
    width: 100%;
    text-align: center;
    z-index: 2;
    }

 ul { overflow:hidden; list-style:none; margin: 0 auto; z-index: 20;}

ul li {display: inline-block; padding: 10px 10px 10px 10px; color: white;}

 h1 { background: blue; color: white; padding: 30px; width: 100% }
 p { color: black ; font-family: fantasy; margin: 20px; position: relative; font-family: serif;}
 .s1 { color: red}
 .s2 { color: blue}
 .s3 { background: yellow ; color: black ; font-weight: bold }
 .hober-yellow {color: yellow}
